.avatar {
  width: 160px;
  height: 160px;
}

.itemBox {
    width: 230px;
    height: 230px;
    border-style: solid;
    margin: 15px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    border-radius: 25px;
    border-color: grey;
    display: block;

    
}

#items {
  width: 100%;
  height: 100%;
  column-count: 9;
 
  
}

ul {
  background-color: black;
  height: 100%;
  width:100%;
  column-count: 5;
  list-style-type: none;

}