html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

div, ul {
  margin: 0;
  padding: 0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.no-pokemon {
  background-color: #ED5565;
}

.center {
    margin-right: auto;
    margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.h1 {
  margin: 0;
  color: white;
}

.recipe {
  padding: 10px;
}

.avatar {
  width: 350px;
  height: 230px;
}

.list {
  list-style: none;
  text-align: left;
  color:black;
  border-bottom: 1px solid;
}
.field_names{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-style: normal;
    margin: 26px 0 5px;
    text-align: left;
}
